PORT = 
MONGODB_USER = #user name
MONGODB_PASSWORD = #user password
MONGODB_URL = #cluster url
MONGODB_DB = #database name

SMTP_HOST = #smtp-relay.brevo.com
SMTP_PORT = #port
SMTP_USER = #brevo smtp user
SMTP_PASSWORD = #brevo smtp password

APP_DOMAIN
JWT_SECRET

CLOUDINARY_CLOUD_NAME = #cloud name
CLOUDINARY_API_KEY = #api key
CLOUDINARY_API_SECRET = #api secret