PORT = 
MONGODB_USER = #user name
MONGODB_PASSWORD = #user password
MONGODB_URL = #cluster url
MONGODB_DB = #database name

SMTP_HOST = 
SMTP_PORT = 
SMTP_USER = 
SMTP_PASSWORD = 

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 